@model package_tracking_app.Models.Package

<h1>@Model.Description: @Model.TrackingNumber </h1>

<table>
    <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Location</th>
    </tr>

</table>