@using package_tracking_app.ViewModels
@model MainModel;

<h1>@Model.Package.Description: @Model.Package.TrackingNumber </h1>

<table>
    <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Location</th>
    </tr>

</table>