@model package_tracking_app.Models.TrackingStatusModel

<table>
    <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Location</th>
    </tr>
    <tr>
        <th>@Model.StatusDate</th>
        <th>@Model.Status</th>
        <th>@Model.City, @Model.State</th>
    </tr>

</table>