@model package_tracking_app.Models.TrackingHistoryModel


<table class="table">
        <tr>
            
            <th>
                Status
            </th>
            <th>
                Date
            </th>
            <th>
                Details
            </th>
        </tr>
        @foreach (var checkpoint in @Model.Checkpoints)
        {
    <tr>
            <th>@checkpoint.Status</th>
            <th>@checkpoint.StatusDate</th>
            <th>@checkpoint.StatusDetails</th>

    </tr>
            
        }
    </table>
}